
/*============================
  Landing Page
------------------------------*/

/* --- [ Herospace ] --- */

#herospace {
  background: #333;
  border-top: 7px solid tomato;
  overflow: hidden;
  position: relative;
  width: 100%;
  
  #vote-counter {
    left: 0;
    position: absolute;
    top: 35px;
  }
}

.herospace-nav {
  float: right;
  margin: 30px 0 0;
  padding: 0;

  
  li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #fff;
    display: block;
    font-size: .7rem;
    font-weight: bold;
    letter-spacing: .05em;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .btn {
    margin-left: 20px;
  }

}

.herospace-content {
  margin: 0 auto;
  padding: 100px 0 60px 30px;
  width: 735px;
  @include apply-to(max-width, 800px){
    padding: 75px 0 50px;
    width: 100%;
  }
}

.herospace-logo {
  background: $sprite 0 -50px;
  float: left;
  height: 86px;
  margin: 0;
  text-indent: -9999px;
  width: 194px;
  @include apply-to(max-width, 800px){
    float: none;
    margin: 40px auto 40px;
  }
}

.herospace-headline {
  float: left;
  margin-left: 35px;
  @include apply-to(max-width, 800px){
    float: none;
    margin-left: 0;
    text-align: center;
  }
  
  h2 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0 0 0;
    @include apply-to(max-width, 800px){
      font-size: 1.6rem;
    }
    @include apply-to(max-width, 480px){
      font-size: 1.4rem;
    }
  }

  h3 {
    color: #9a9a9a;
    font-size: 1rem;
    font-weight: 200;
    margin: 10px 0 0;
  }
}

.herospace-screenshot {
  margin: 0 auto;
  width: 100%;
  @include apply-to(max-width, 580px){
    display: none;
  }
  img {
    display: block;
    width: 100%;
  }
}

/* --- [ Herospace Callout ] --- */

#herospace-callout {
  background: #f3f3f3;
  padding: 60px 0;
  text-align: center;
  @include apply-to(max-width, 800px){
    padding: 40px 20px;
  }
  
  h3 {
    color: #4a4a4a;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0;
  }
}

.callout-btn {
  @include transition(all .3s ease);
  background: tomato;
  border-color: tomato;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin-left: 30px;
  padding: 15px 30px;
  text-transform: uppercase;
  @include apply-to(max-width, 800px){
    margin-top: 25px;
  }
  
  &:hover {
    background: #333;
    border-color: #333;
  }
}

/* --- [ Features Section ] --- */

#features {
  max-width: 1050px;
}

.feature {
  border-bottom: 1px solid #eaeaea;
  clear: both;
  padding: 85px 0;
  &:last-child {
    border-bottom: none;
  }
  @include apply-to(max-width, 800px){
    padding: 85px 10%;
  }
  @include apply-to(max-width, 725px){
    padding: 55px 0 40px;
  }
}

.feature-img {
  display: block;
  float: right;
  margin-left: 30px;
  @include apply-to(max-width, 800px){
    float: none;
    margin: 0;
  }
  @include apply-to(max-width, 725px){
    width: 100%;
  }
}

.feature-heading {
  color: #4a4a4a;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  @include apply-to(max-width, 800px){
    font-size: 1rem;
  }
}

.feature-content {
  color: #8a8a8a;
  font-weight: 200;
  margin: 70px 0 0 0;
  width: 40%;
  @include apply-to(max-width, 800px){
    margin-top: 30px;
    width: 100%;
  }
  
  p {
    line-height: 1.5;
  }
}

/* --- [ Team Section ] --- */

#team {
  background: #333;
  padding: 100px 0;
  @include apply-to(max-width, 800px){
    padding: 75px 0 40px;
  }
  @include apply-to(max-width, 580px){
    padding: 50px 0;
  }
}

.team-member {
  color: #fff;
  float: left;
  position: relative;
  text-align: center;
  width: 25%;
  @include apply-to(max-width, 800px){
    margin-bottom: 40px;
    width: 50%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include apply-to(max-width, 580px){
    width: 100%;
  }
  
  p {
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: 0;
    padding: 0 30px;
  }
}

.team-member-headshot {
  background: #ccc;
  border-radius: 170px;
  display: block;
  height: 170px;
  margin: 0 auto 20px;
  width: 170px;
}

.team-member-name {
  font-size: 1rem;
  font-weight: bold;
  margin: 15px 0;
}

.team-member-contact {
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 0;
    padding: 0;
  }
}

.contact-icon {
  @include border-radius(30px);
  background: #ccc;
  display: block;
  height: 30px;
  text-indent: -9999px;
  width: 30px;
}
