      <header id="page-header">
        <h1>Dashboard</h1>
        <a id="page-header-logout" class="btn btn-secondary" href="#">Logout</a>
      </header>
      
      <!-- 
      <div class="section-tabs">
        <ul>
          <li><a class="section-tab active" href="#"><span class="section-tab-icon"></span>Open Issues<span class="blip"></span></a></li>
          <li><a class="section-tab" href="#"><span class="section-tab-icon"></span>Contributors<span class="blip"></span></a></a></li>
        </ul>
      </div> 
      -->
      
      <div id="content-wrap">
        <div id="main">
          <header class="section-header">
            <h2 class="section-title">Repositories <!-- <a href="#">Settings</a> --></h2>

            <!-- 
            <div class="filter-wrap">
              <a class="filter-btn btn" href="#">Filter<span class="filter-arrow"></span></a>
              <ul class="filter-dropdown dropdown-list">
                <li><a href="#">Sort by Issue Total</a></li>
                <li><a href="#">Sort by repo name</a></li>
                <li><a href="#">Sort by recent activity</a></li>
              </ul>
            </div> 
            -->
          </header>
          
          <ul class="repo-list list">
            <% for (var i = 0; i < repos.length; i++) {%>
              <li>
              <a href="/dashboard/<%- repos[i].name %>" class="list-item-header">
                  <h3 class="list-heading"><%- repos[i].name %></h3>
                  <span class="repo-issue-total"><%- repos[i].issueTotal %></span>
                </a>
              </li>
            <% } %>
          </ul>
        </div>
