<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
      
    <div class="admin-bar">
      <a id="admin-bar-logo" href="/dashboard">gitDo</a>
      <ul>
        <% if (active === "repos") {%>
          <li><a href="/dashboard"><span class="admin-bar-icon icon-dashboard"></span>Dashboard</a></li>
          <li><a class="active" href="/repos"><span class="admin-bar-icon icon-repos"></span>Manage Repositories</a></li>
        <%} else {%>
          <li><a class="active" href="/dashboard"><span class="admin-bar-icon icon-dashboard"></span>Dashboard</a></li>
          <li><a href="/repos"><span class="admin-bar-icon icon-repos"></span>Manage Repositories</a></li>
        <% } %>
        <li><a href="/auth/logout"><span class="admin-bar-icon icon-logout"></span>Logout</a></li>
      </ul>
    </div>

    <div id="global-container">

      <%- body %>
      
      <footer id="footer">
        <p>Designed and developed by</p>
        <p>Alex Mesarosh, Jimmy King, Roman Pacheco, and Michael Wolf</p>
      </footer>

      <div class="clear"></div>
    </div>
    
    <!-- Remove Repo from gitdo modal -->
    <div id="delete-repo-modal" class="modal">
      <div class="modal-content">
        <h3 class="modal-heading">Are you sure?</h3>
        <p>If you decide you do not want gitdo to follow this repo anymore all of the issues will be completely removed from the gitdo database.</p>
        <a href="#" class="modal-btn btn">Yes, I'm sure</a>
        <a href="#" class="modal-btn btn">Cancel</a>
      </div>
      <a href="#" class="modal-close-btn">Close</a>
    </div>
    
    <!-- Javascript
    ==================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/js/issues.js"></script>
    <script src="/js/repos.js"></script>
  </body>
</html>
