<!DOCTYPE html>
<html class="no-js">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Repo Name Here | gitdo</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
      
    <div class="admin-bar">
      <ul>
        <li id="admin-bar-profile"><a href="#"><span class="admin-bar-icon"></span></a></li>
        <li><a href="/dashboard/index.html"><span class="admin-bar-icon"></span>Dashboard</a></li>
        <li><a href="#"><span class="admin-bar-icon"></span>Manage Repositories</a></li>
        <li><a href="#"><span class="admin-bar-icon"></span>Logout</a></li>
      </ul>
    </div>

    <div id="global-container">

      <header id="page-header">
        <h1>Repo Name Here</h1>
        <a id="page-header-logout" class="btn btn-secondary" href="#">Logout</a>
      </header>
      
      <!-- 
      <div class="section-tabs">
        <ul>
          <li><a class="section-tab active" href="#"><span class="section-tab-icon"></span>Open Issues<span class="blip"></span></a></li>
          <li><a class="section-tab" href="#"><span class="section-tab-icon"></span>Contributors<span class="blip"></span></a></a></li>
        </ul>
      </div> 
      -->
      
      <div id="content-wrap">
        <div id="main">
          <header class="section-header">
            <h2 class="section-title">Open Issues</h2>
          </header>
          
          <ul class="issue-list list">
            <li>
              <a href="#" class="list-item-header">
                <h3 class="list-heading">Title of an interesting gitdo goes here</h3>
                <span class="issue-date timestamp">created today, 6:49 pm</span>
              </a>
            </li>
            <li>
              <a href="#" class="list-item-header">
                <h3 class="list-heading">Title of an interesting gitdo goes here</h3>
                <span class="issue-date timestamp">created today, 11:13 am</span>
              </a>
            </li>
            <li class="open">
              <a href="#" class="list-item-header">
                <h3 class="list-heading">Title of an interesting gitdo goes here</h3>
                <span class="issue-date timestamp">created yesterday, 2:33 pm</span>
              </a>
              <div class="issue-details">
                <ul class="issue-meta">
                  <li><span class="issue-meta-label">Branch Name</span> develop-phase2</li>
                  <li><span class="issue-meta-label">File Name</span> glossary.html</li>
                  <li><span class="issue-meta-label">Line Number</span> #508</li>
                </ul>
                <div class="issue-desc">
                  <span class="issue-meta-label">Issue description</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, necessitatibus ea eaque saepe nemo? Dolorum, ab aspernatur iusto voluptates molestiae numquam quos asperiores molestias? Ipsum doloremque libero nulla recusandae voluptas.</p>
                </div>
                <div class="clear"></div>
              </div>
              <div class="issue-footer">
                <a href="#" class="issue-footer-btn btn">Mark as resolved</a>
                <a href="#" class="issue-footer-btn btn btn-primary" target="_blank">View source</a>
              </div>
            </li>
            <li>
              <a href="#" class="list-item-header">
                <h3 class="list-heading">Title of an interesting gitdo goes here</h3>
                <span class="issue-date timestamp">3 days ago</span>
              </a>
            </li>
            <li>
              <a href="#" class="list-item-header">
                <h3 class="list-heading">Title of an interesting gitdo goes here</h3>
                <span class="issue-date timestamp">6 days ago</span>
              </a>              
            </li>
            <li>
              <a href="#" class="list-item-header">
                <h3 class="list-heading">Title of an interesting gitdo goes here</h3>
                <span class="issue-date timestamp">2 weeks ago</span>
              </a>
            </li>
            <li>
              <a href="#" class="list-item-header">
                <h3 class="list-heading">Title of an interesting gitdo goes here</h3>
                <span class="issue-date timestamp">6 weeks ago</span>
              </a>
            </li>
          </ul>
        </div>
      
      <!-- 
        <div id="sidebar">
          <header class="section-header">
            <h2 class="section-title">Repo Activity Feed</h2>
          </header>
          <ul class="activity-list list">
            <li>
              <p><strong>Jimmy K.</strong> created a gitdo, and removed the to do from the code.</p>
              <p class="timestamp">Today, 3:24 pm</p>
            </li>
            <li>
              <p><strong>Roman P.</strong> created a gitdo, and removed the to do from the code.</p>
              <p class="timestamp">Today, 3:24 pm</p>
            </li>
            <li>
              <p><strong>Roman P.</strong> created a gitdo, and removed the to do from the code.</p>
              <p class="timestamp">Today, 3:24 pm</p>
            </li>
            <li>
              <p><strong>Jimmy K.</strong> created a gitdo, and removed the to do from the code.</p>
              <p class="timestamp">Today, 3:24 pm</p>
            </li>
            <li>
              <p><strong>Alex M.</strong> completed a gitdo, and removed the to do from the code.</p>
              <p class="timestamp">Today, 3:24 pm</p>
            </li>
          </ul>
        </div> 
      -->

        <footer id="footer">
          <p>Designed and developed by</p>
          <p>Alex Mesorash, Jimmy King, Roman Pacheco, and Michael Wolf</p>
        </footer>

        <div class="clear"></div>
      </div>
    
    </div>
  </body>
</html>