<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<div class="title">
  <!-- THIS IS JUST AN EJS TEST -->
  <%= title %>
</div>

<h1>Git.Do</h1>
<a href="/auth/github">Log in</a>
<h2>Manage your tasks using comments in git</h2>

<code class="javascript"><pre>var foo = function(bar) {
  // todo: make this function actually do something
};</pre></code>
