
<div id="herospace">
  <div class="container">
    
    <iframe id="vote-counter" src="http://nodeknockout.com/iframe/meltmedia" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
    </iframe>

    <ul class="herospace-nav">
      <li><a href="#features" data-scroll-to>Features</a></li>
      <li><a class="btn" href="/auth/github">Login</a></li>
    </ul>

    <div class="herospace-content">
      <h1 class="herospace-logo">gitdo</h1>
      <div class="herospace-headline">
        <h2>Maintaining code is hard</h2>
        <h3>Make it easier by creating tasks directly in your code using gitdo</h3>
      </div>
      <div class="clear"></div>
    </div>

    <div class="herospace-screenshot">
      <img src="/img/tbd-screenshot.png" alt="gitdo | Sneak peek screenshot" />
    </div>
  </div>
</div>

<div id="herospace-callout">
  <h3><strong>Get started now!</strong> It’s free and account setup takes less than a minute.</h3>
  <a class="callout-btn btn" href="/auth/github">Sign Up Now</a>
</div>

<div id="features" class="container">

  <!-- Task Creation -->
  <div class="feature">
    <img class="feature-img" src="/img/create-todo.png" alt="Image | How to create a to do" />
    <div class="feature-content">
      <h4 class="feature-heading">Create tasks inline with your code</h4>
      <p>Put your mind at ease and let gitdo do the heavy lifting of remembering what needs to be worked on. Create tasks by simply leaving a comment tagged @TODO: in your code and gitdo will handle the rest.</p>
    </div>
    <div class="clear"></div>
  </div>

    <!-- Automated Task Meta -->
  <div class="feature">
    <img class="feature-img" src="/img/task.png" alt="Image | Screenshot of Task detail view" />
    <div class="feature-content">
      <h4 class="feature-heading">Automated Task Creation</h4>
      <p>When you create a to do in your code gitdo pulls in all kinds of useful information. When you view the task gitdo, you get to see the Task Title, task description, the branch name, the filename, and even the line number. So you don’t have to waste time digging through your code.</p>
    </div>
    <div class="clear"></div>
  </div>
  
  <!-- The Dashboard -->
  <div class="feature">
    <img class="feature-img" src="/img/dashboard.png" alt="Image | Screenshot of the dashboard" />
    <div class="feature-content">
      <h4 class="feature-heading">The Dashboard. All Repos, one view</h4>
      <p>Be able to easily see all issues pertaining to all of your repositories in a single view. gitdo provides you with an easy to use dashboard that gives you qucik access to view issues.</p>
    </div>
    <div class="clear"></div>
  </div>
  
  <!-- Resolving Tasks -->
  <div class="feature">
    <img class="feature-img" src="/img/dashboard.png" alt="Image | How to resolve a to do" />
    <div class="feature-content">
      <h4 class="feature-heading">Resolving Issues couldn’t be easier</h4>
      <p>When your done with a task just remove the @TODO: flag from your code and gitdo automatically resolves the issue and removes it from your dashboard. There is no extra work on your part. gitdo gives you real time status so you will never have to manually close out to do.</p>
    </div>
    <div class="clear"></div>
  </div>

  <!-- Repo Manager -->
  <div class="feature">
    <img class="feature-img" src="/img/repo-manager.png" alt="Image | Screenshot of Repo Manager view" />
    <div class="feature-content">
      <h4 class="feature-heading">Repo Manager</h4>
      <p>gitdo gives you the flexibility to only follow the repos that you want. Simply toggle the switch to on and the gitdo service hook will fire into action, automatically pulling in any issues found when you revisit the dashboard.</p>
    </div>
    <div class="clear"></div>
  </div>

</div>

