
<div id="herospace">
  <div class="container">
    
    <iframe src="http://nodeknockout.com/iframe/meltmedia" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
    </iframe>

    <ul class="herospace-nav">
      <li><a href="#features">Features</a></li>
      <li><a href="#team">The Team</a></li>
      <li><a class="btn" href="/auth/github">Login</a></li>
    </ul>

    <div class="herospace-content">
      <h1 class="herospace-logo">gitdo</h1>
      <div class="herospace-headline">
        <h2>Maintaining code is hard</h2>
        <h3>Make it easier by creating tasks directly in your code using gitdo</h3>
      </div>
      <div class="clear"></div>
    </div>

    <div class="herospace-screenshot">
      <img src="/img/tbd-screenshot.png" alt="gitdo | Sneak peek screenshot" />
    </div>
  </div>
</div>

<div id="herospace-callout">
  <h3><strong>Get started now!</strong> It’s free and account setup takes less than a minute.</h3>
  <a class="callout-btn btn" href="/auth/github">Sign Up Now</a>
</div>

<div id="features" class="container">

  <!-- Task Creation -->
  <div class="feature">
    <img class="feature-img" src="/img/create-todo.png" alt="Image | How to create a to do" />
    <div class="feature-content">
      <h4 class="feature-heading">Create tasks inline with your code</h4>
      <p>Put your mind at ease and let gitdo do the heavy lifting of remembering what needs to be worked on. Create tasks by simply leaving a comment with <code>@TODO:</code> (case insensitive) in your code and gitdo will handle the rest.</p>
    </div>
    <div class="clear"></div>
  </div>

    <!-- Automated Task Meta -->
  <div class="feature">
    <img class="feature-img" src="/img/task.png" alt="Image | Screenshot of Task detail view" />
    <div class="feature-content">
      <h4 class="feature-heading">Automated Task Creation</h4>
      <p>When you create a to do in your code gitdo pulls in all kinds of useful information. When you view the task in gitdo, you will see the title, description, branch name, filename, and line number. So you don’t have to waste time digging through your code.</p>
    </div>
    <div class="clear"></div>
  </div>
  
  <!-- The Dashboard -->
  <div class="feature">
    <img class="feature-img" src="/img/dashboard.png" alt="Image | Screenshot of the dashboard" />
    <div class="feature-content">
      <h4 class="feature-heading">The Dashboard. All Repos, one view</h4>
      <p>gitdo provides you with an easy to use dashboard that gives you qucik access to view issues. You can see all of the repositories you manage with gitdo as well as the total gitdos in each.</p>
    </div>
    <div class="clear"></div>
  </div>
  
  <!-- Resolving Tasks -->
  <div class="feature">
    <img class="feature-img" src="/img/dashboard.png" alt="Image | How to resolve a to do" />
    <div class="feature-content">
      <h4 class="feature-heading">Resolving Issues couldn’t be easier</h4>
      <p>When your done with a task just remove the <code>@TODO:</code> flag from your code and gitdo automatically resolves the issue and removes it from your dashboard. There is no extra work on your part. gitdo gives you real time status so you will never have to manually close out to do. [this wording is confusing]</p>
    </div>
    <div class="clear"></div>
  </div>

  <!-- Repo Manager -->
  <div class="feature">
    <img class="feature-img" src="/img/repo-manager.png" alt="Image | Screenshot of Repo Manager view" />
    <div class="feature-content">
      <h4 class="feature-heading">Repo Manager</h4>
      <p>gitdo gives you the flexibility to only follow the repos that you want. Simply toggle the switch to on and the gitdo service hook will fire into action, automatically pulling in any issues found when you revisit the dashboard.</p>
    </div>
    <div class="clear"></div>
  </div>

</div>

<div id="team">
  <div class="container">
    <div class="team-member">
      <img class="team-member-headshot" src="" alt="Image | Team Member Headshot" />
      <h5 class="team-member-name">Alex Mesarosh</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, assumenda, beatae eum illo porro aut vitae facere in consectetur.</p>
    </div>
    <div class="team-member">
      <img class="team-member-headshot" src="" alt="Image | Team Member Headshot" />
      <h5 class="team-member-name">Jimmy King</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, corporis, ipsam, in recusandae nobis molestiae commodi atque.</p>
    </div>
    <div class="team-member">
      <img class="team-member-headshot" src="" alt="Image | Team Member Headshot" />
      <h5 class="team-member-name">Michael Wolf</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, vel facere quam quos beatae qui ullam. Assumenda, quidem.</p>
    </div>
    <div class="team-member">
      <img class="team-member-headshot" src="" alt="Image | Team Member Headshot" />
      <h5 class="team-member-name">Roman Pacheco</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, vero, quam, porro, nisi consequatur ratione labore ipsa.</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
