<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Git.Do</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body class="splash">
    
    <%- body %>

    <footer id="footer">
      <p>Designed and developed by</p>
      <p><a href="https://github.com/amesarosh/" target="_blank">Alex Mesarosh</a>, <a href="http://twitter.com/jimmyking" target="_blank">Jimmy King</a>, <a href="http://rdpacheco.tumblr.com/" target="_blank">Roman Pacheco</a>, and <a href="http://twitter.com/mbwolf1" target="_blank">Michael Wolf</a></p>
    </footer>

    <!-- Javascript
    ==================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/js/landing-page.js"></script>

  </body>
</html>
