<!DOCTYPE html>
<html class="no-js">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Dashbaord</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
      
    <div class="admin-bar">
      <a id="admin-bar-logo" href="/dashboard">gitDo</a>
      <ul>
        <li><a class="active" href="/dashboard"><span class="admin-bar-icon icon-dashboard"></span>Dashboard</a></li>
        <li><a href="/repos"><span class="admin-bar-icon icon-repos"></span>Manage Repositories</a></li>
        <li><a href="/auth/logout"><span class="admin-bar-icon icon-logout"></span>Logout</a></li>
      </ul>
    </div>

    <div id="global-container">

      <%- body %>
      
      <!-- 
        <div id="sidebar">
          <header class="section-header">
            <h2 class="section-title">Activity Feed</h2>
          </header>
          <ul class="activity-list list">
            <li>
              <p><strong>Jimmy K.</strong> completed a gitdo, and removed the to do from the code.</p>
              <p class="timestamp">Today, 3:24 pm</p>
            </li>
            <li>
              <p><strong>Jimmy K.</strong> completed a gitdo, and removed the to do from the code.</p>
              <p class="timestamp">Today, 3:24 pm</p>
            </li>
            <li>
              <p><strong>Jimmy K.</strong> completed a gitdo, and removed the to do from the code.</p>
              <p class="timestamp">Today, 3:24 pm</p>
            </li>
            <li>
              <p><strong>Jimmy K.</strong> completed a gitdo, and removed the to do from the code.</p>
              <p class="timestamp">Today, 3:24 pm</p>
            </li>
            <li>
              <p><strong>Jimmy K.</strong> completed a gitdo, and removed the to do from the code.</p>
              <p class="timestamp">Today, 3:24 pm</p>
            </li>
          </ul>
        </div>
      -->

        <footer id="footer">
          <p>Designed and developed by</p>
          <p>Alex Mesorash, Jimmy King, Roman Pacheco, and Michael Wolf</p>
        </footer>

        <div class="clear"></div>
      </div>
      
    </div>
  </body>
</html>
