
<header id="page-header">
  <h1>Manage Repositories</h1>
  <a id="page-header-logout" class="btn btn-secondary" href="#">Logout</a>
</header>

<div id="content-wrap">
  <div id="main">
    <header class="section-header">
      <h2 class="section-title">Repositories</h2>
    </header>
    
    <ul id="repo-manager" class="list">
      <li>
        <h3 class="list-heading">Repo Name</h3>
        <div class="switch">
          <input type="checkbox" name="switch" class="switch-checkbox" id="myswitch">
          <label class="switch-label" for="myswitch">
              <div class="switch-inner"></div>
              <div class="switch-handle"></div>
          </label>
        </div>
      </li>
    </ul>
  </div>
