
<header id="page-header">
  <h1>Manage Repositories</h1>
  <a id="page-header-logout" class="btn btn-secondary" href="#">Logout</a>
</header>

<div id="content-wrap">
  <div id="main">
    <header class="section-header">
      <h2 class="section-title">Repositories</h2>
    </header>
    
    <ul class="repo-list list">
      <li><h3 class="list-heading">Repo Name</h3></li>
    </ul>
  </div>
