
/*============================
  Layout
------------------------------*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
}

#global-container {
  margin-left: 100px;
}

#content-wrap {
  margin: 30px;
}

#main {
  float: left;
  width: 65%;
  @include apply-to(max-width, 960px){
    float: none;
    width: 100%;
  }
}

#sidebar {
  float: right;
  width: 33%;
  @include apply-to(max-width, 960px){
    float: none;
    margin-top: 30px;
    width: 100%;
  }
}
