
/*============================
  Layout
------------------------------*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
}

#content-wrap {
  margin-left: 100px;
}
