
/*============================
  Layout
------------------------------*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 95%;
}

#global-container {
  margin-left: 210px;
}

#content-wrap {
  margin: 30px;
}