/*===============================
  Lib
---------------------------------*/
@import url("lib/normalize.css");
/*===============================
  Common
---------------------------------*/
/*=============================
  GLOBAL SPRITE IMAGE
-------------------------------*/
/*=============================
  BRAND COLORS
-------------------------------*/
/*=============================
  FONTS
-------------------------------*/
/*=============================
  MIXINS
-------------------------------*/
/*============================
  Helpers
------------------------------*/
.clear {
  clear: both; }

/*==============================
  Typography
--------------------------------*/
body {
  font: 14px Helvetica, arial, sans-serif; }

/* --- [ Headings ] --- */
h1, h2, h3, h4, h5 {
  font-weight: 200; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.1rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.8rem; }

h6 {
  font-size: 0.7rem; }

/* --- [ Paragraphs ] --- */
p {
  line-height: 1.3;
  margin: 0 0 1.5em;
  /* cross-browser hyphenation - http://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/ */
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

/* --- [ Links ] --- */
a, a:visited {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

/* states for accessibility http://meyerweb.com/eric/css/tests/css2/sec05-11-03.htm */
a:active {
  color: tomato; }

a:focus {
  border: 1px dotted tomato; }

/* --- [ Code Snippets ] --- */
code, pre {
  font-family: monospace, serif;
  font-size: 1em; }

/*============================
  Layout
------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: white; }

#global-container {
  margin-left: 210px; }

#content-wrap {
  margin: 30px; }

#main {
  float: left;
  width: 100%; }
  @media only screen and (max-width: 960px) {
    #main {
      float: none;
      width: 100%; } }

#sidebar {
  float: right;
  width: 33%; }
  @media only screen and (max-width: 960px) {
    #sidebar {
      float: none;
      margin-top: 30px;
      width: 100%; } }

/*============================
  Modules
------------------------------*/
.timestamp {
  color: #b0b0b0;
  font-size: 0.7rem;
  font-weight: 200;
  letter-spacing: 0.02em;
  text-transform: uppercase; }

/* --- [ Buttons ] --- */
.btn {
  -webkit-background-clip: padding-box;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  color: #666666;
  line-height: 1;
  padding: 10px 25px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn:hover {
    background: tomato;
    border-color: tomato;
    color: white; }

.btn-primary {
  background: #333333;
  border-color: #333333;
  color: white; }

.btn-close {
  color: #cccccc;
  display: block;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  width: 15px; }

.btn-view-more {
  -webkit-background-clip: padding-box;
  background: #d0d0d0;
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: 11px 0 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-view-more:hover {
    background: tomato; }

/* --- [ Global List Styles ] --- */
.list {
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  padding: 0; }
  .list li {
    border-top: 1px solid #e0e0e0;
    list-style: none;
    margin: 0;
    padding: 0; }
    .list li:first-child {
      border-top: none; }

.list-item-header {
  -webkit-background-clip: padding-box;
  color: #4a4a4a;
  display: block;
  padding: 17px 0 16px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .list-item-header:hover {
    background: #f8f8f8;
    color: tomato;
    padding-left: 20px; }

.list-heading {
  margin: 0; }

/* --- [ Global Dropdown List ] --- */
.dropdown-list {
  background: white;
  border: solid #d0d0d0;
  border-width: 1px 1px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  border-top-right-radius: 0;
  display: none;
  margin: 0;
  padding: 0;
  position: relative; }
  .dropdown-list li {
    border-bottom: 1px solid #d0d0d0;
    list-style: none;
    margin: 0;
    padding: 0; }
  .dropdown-list a {
    -webkit-background-clip: padding-box;
    color: #aaaaaa;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .dropdown-list a:hover {
      background: #f0f0f0;
      color: #333333; }

/* --- [ Section Header ] --- */
.section-header {
  position: relative; }

.section-title {
  color: #333333;
  font-weight: 200;
  margin: 0;
  border-bottom: 2px solid #666666;
  padding-bottom: 13px; }

/* --- [ Filter List ] --- */
.filter-wrap {
  position: absolute;
  right: 30px;
  top: 15px; }
  .filter-wrap:hover .filter-btn {
    background: tomato;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: tomato;
    color: white; }
  .filter-wrap:hover .filter-dropdown {
    display: block; }

.filter-btn {
  padding-right: 40px;
  position: absolute;
  right: 0;
  top: 0; }

.filter-dropdown {
  position: absolute;
  right: 0;
  top: 35px;
  width: 200px;
  z-index: 1000; }

/* --- [ Repo List ] --- */
.repo-issue-total {
  background: tomato;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  height: 24px;
  line-height: 24px;
  margin-top: -12px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 50%;
  width: 24px; }

/* --- [ Issue List ] --- */
.issue-list li.open {
  border-color: tomato; }
  .issue-list li.open .list-item-header {
    background: tomato;
    padding-left: 20px;
    color: white; }
  .issue-list li.open .timestamp {
    color: white; }
  .issue-list li.open .issue-details {
    display: block; }

.issue-date {
  position: absolute;
  right: 30px;
  top: 20px; }

.issue-details {
  border-top: 1px solid #f6f6f6;
  display: none;
  padding: 25px 0 0; }

.issue-meta {
  background: #f6f6f6;
  float: left;
  margin: 0 5% 0 20px;
  padding: 25px 20px 0;
  width: 25%; }
  .issue-meta li {
    border: none;
    margin-bottom: 15px;
    padding: 7px 0 10px;
    position: relative; }

.issue-meta-label {
  color: #b0b0b0;
  display: block;
  font-size: 0.7rem;
  left: 0;
  margin-top: -7px;
  position: absolute;
  top: 0;
  text-transform: uppercase; }

.issue-desc {
  float: left;
  padding-top: 20px;
  position: relative;
  width: 65%; }
  .issue-desc .issue-meta-label {
    top: 7px; }

.issue-footer {
  background: #efefef;
  clear: both;
  margin-top: 30px;
  padding: 10px;
  text-align: right;
  width: 100%; }

.issue-footer-btn {
  display: inline-block; }
  .issue-footer-btn:first-child {
    margin-right: 5px; }

/* --- [ Manage Repos ] --- */
#repo-manager li {
  padding: 17px 0 16px;
  position: relative; }

/* --- [ Switch ] --- */
.switch {
  position: absolute;
  right: 20px;
  top: 13px;
  width: 80px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.switch-checkbox {
  display: none; }

.switch-label {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid white;
  cursor: pointer;
  display: block;
  overflow: hidden; }

.switch-inner {
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
  margin-left: -100%;
  width: 200%; }

.switch-inner:before, .switch-inner:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  float: left;
  font-size: 15px;
  font-weight: bold;
  height: 24px;
  line-height: 26px;
  padding: 0;
  width: 50%; }

.switch-inner:before {
  background-color: #eeeeee;
  color: tomato;
  content: "ON";
  padding-left: 10px; }

.switch-inner:after {
  background: #eeeeee;
  color: #999999;
  content: "OFF";
  padding-right: 10px;
  text-align: right; }

.switch-handle {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background: #a1a1a1;
  border: 2px solid white;
  bottom: 0;
  margin: -1px;
  position: absolute;
  right: 51px;
  top: 0;
  width: 33px; }

.switch-checkbox:checked + .switch-label .switch-inner {
  margin-left: 0; }

.switch-checkbox:checked + .switch-label .switch-handle {
  background: tomato;
  right: 0px; }

/*===============================
  Partials
---------------------------------*/
/*============================
  Page Header
------------------------------*/
#page-header {
  background: #eaeaea;
  border-bottom: 1px solid #d0d0d0;
  padding: 10px 30px;
  position: relative; }

#page-header-utilities {
  position: absolute;
  right: 30px;
  top: 0; }

#notifications-wrap {
  float: left; }

#user-info {
  position: absolute;
  right: 30px;
  top: 25px; }

.user-avatar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  background: url(../img/tbd-avatar.jpg) no-repeat;
  display: block;
  float: left;
  height: 50px;
  margin-right: 15px;
  width: 50px; }

.user-name {
  color: #8a8a8a;
  float: left;
  line-height: 50px;
  padding-right: 20px;
  position: relative;
  text-decoration: none; }
  .user-name:hover .icon-arrow-down {
    background-position: -175px -25px; }
  .user-name .icon-arrow-down {
    margin-top: -3px;
    position: absolute;
    right: 0;
    top: 50%; }

.user-logout {
  float: left;
  border-left: 1px solid #d0d0d0;
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  padding-left: 25px; }

.icon-arrow-down {
  background: url(../img/sprite.png) no-repeat -175px 0;
  display: block;
  height: 6px;
  width: 10px; }

#footer {
  border-top: 1px solid #d0d0d0;
  clear: both;
  color: #cccccc;
  float: left;
  font-size: 0.7rem;
  font-weight: 200;
  margin-top: 100px;
  padding-top: 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  #footer p {
    margin: 0 0 5px; }

/*===============================
  Features
---------------------------------*/
/*============================
  Admin Bar
------------------------------*/
.admin-bar {
  background: #333333;
  height: 100%;
  left: 0;
  min-height: 530px;
  position: fixed;
  top: 0;
  width: 210px; }
  .admin-bar ul {
    border-top: 1px solid #3a3a3a;
    margin: 0;
    padding: 0; }
  .admin-bar li {
    border-bottom: 1px solid #3a3a3a;
    list-style: none;
    margin: 0;
    padding: 0; }
  .admin-bar a {
    color: #f0f0f0;
    display: block;
    font-size: 0.9rem;
    padding: 14px 20px 13px 45px;
    position: relative;
    text-decoration: none;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease; }
    .admin-bar a:hover {
      background: #2a2a2a; }
      .admin-bar a:hover .icon-dashboard {
        background-position: -100px -25px; }
      .admin-bar a:hover .icon-repos {
        background-position: -125px -25px; }
      .admin-bar a:hover .icon-logout {
        background-position: -150px -25px; }
    .admin-bar a.active {
      border-right: 5px solid tomato; }
      .admin-bar a.active .icon-dashboard {
        background-position: -100px -25px; }
      .admin-bar a.active .icon-repos {
        background-position: -125px -25px; }
      .admin-bar a.active .icon-logout {
        background-position: -150px -25px; }

#admin-bar-logo {
  background: url(../img/sprite.png) no-repeat 0 0;
  display: block;
  height: 39px;
  margin: 30px auto;
  position: relative;
  text-indent: -9999px;
  width: 84px; }

.admin-bar-icon {
  background: url(../img/sprite.png) no-repeat;
  border-radius: 4px;
  display: block;
  height: 20px;
  margin: 10px auto;
  width: 20px;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -10px; }
  .admin-bar-icon.icon-dashboard {
    background-position: -100px 0; }
  .admin-bar-icon.icon-repos {
    background-position: -125px 0; }
  .admin-bar-icon.icon-logout {
    background-position: -150px 0; }

#admin-bar-profile .admin-bar-icon {
  display: block;
  height: 80px;
  width: 80px; }

.section-tabs {
  background: #eaeaea;
  border-bottom: 1px solid #d0d0d0;
  height: 70px;
  width: 100%; }
  .section-tabs ul {
    margin: 0;
    padding: 0; }
  .section-tabs li {
    float: left;
    list-style: none;
    margin: 0;
    min-width: 200px;
    padding: 0;
    width: 25%; }

.section-tab {
  border: solid #d0d0d0;
  border-width: 0 1px 1px 0;
  color: #4a4a4a;
  display: block;
  font-size: 1.2em;
  height: 70px;
  line-height: 70px;
  padding: 0 30px 0 65px;
  position: relative;
  text-decoration: none;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .section-tab.active, .section-tab.active:hover {
    background: white;
    border-bottom-color: white;
    height: 71px; }
  .section-tab:hover {
    background: #f0f0f0; }

.section-tab-icon {
  background: #dadada;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  height: 24px;
  left: 30px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 24px; }

.activity-list li {
  padding: 15px 0; }
.activity-list p {
  margin: 0; }
.activity-list .timestamp {
  margin-top: 5px; }
