/*===============================
  Lib
---------------------------------*/
@import url("lib/normalize.css");
/*===============================
  Common
---------------------------------*/
/*=============================
  GLOBAL SPRITE IMAGE
-------------------------------*/
/*=============================
  BRAND COLORS
-------------------------------*/
/*=============================
  FONTS
-------------------------------*/
/*=============================
  MIXINS
-------------------------------*/
/*============================
  Helpers
------------------------------*/
.clear {
  clear: both; }

/*==============================
  Typography
--------------------------------*/
body {
  font: 14px Helvetica, arial, sans-serif; }

/* --- [ Headings ] --- */
h1, h2, h3, h4, h5 {
  font-weight: 200; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.75em; }

/* --- [ Paragraphs ] --- */
p {
  line-height: 1.3;
  margin: 0 0 1.5em;
  /* cross-browser hyphenation - http://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/ */
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

/* --- [ Links ] --- */
a, a:visited {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

/* states for accessibility http://meyerweb.com/eric/css/tests/css2/sec05-11-03.htm */
a:active {
  color: tomato; }

a:focus {
  border: 1px dotted tomato; }

/* --- [ Code Snippets ] --- */
code, pre {
  font-family: monospace, serif;
  font-size: 1em; }

/*============================
  Layout
------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: white; }

#global-container {
  margin-left: 100px; }

#content-wrap {
  margin: 30px; }

#main {
  float: left;
  width: 65%; }
  @media only screen and (max-width: 960px) {
    #main {
      float: none;
      width: 100%; } }

#sidebar {
  float: right;
  width: 33%; }
  @media only screen and (max-width: 960px) {
    #sidebar {
      float: none;
      margin-top: 30px;
      width: 100%; } }

/*============================
  Modules
------------------------------*/
.boxed {
  -webkit-background-clip: padding-box;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box; }

/* --- [ Buttons ] --- */
.btn {
  -webkit-background-clip: padding-box;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  color: #666666;
  line-height: 1;
  padding: 10px 25px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.btn-close {
  color: #cccccc;
  display: block;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  width: 15px; }

.btn-view-more {
  -webkit-background-clip: padding-box;
  background: #d0d0d0;
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: 11px 0 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn-view-more:hover {
    background: tomato; }

/* --- [ Global List Styles ] --- */
.list {
  margin: 0;
  padding: 0; }
  .list li {
    border-bottom: 1px solid #e0e0e0;
    list-style: none;
    margin: 0;
    padding: 15px 20px; }
    .list li:last-child {
      border: none; }

.list-heading {
  font-weight: normal; }

/* --- [ Global Dropdown List ] --- */
.dropdown-list {
  background: white;
  border: solid #d0d0d0;
  border-width: 1px 1px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  border-top-right-radius: 0;
  display: none;
  margin: 0;
  padding: 0;
  position: relative; }
  .dropdown-list li {
    border-bottom: 1px solid #d0d0d0;
    list-style: none;
    margin: 0;
    padding: 0; }
  .dropdown-list a {
    -webkit-background-clip: padding-box;
    color: #aaaaaa;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .dropdown-list a:hover {
      background: #f0f0f0;
      color: #333333; }

/* --- [ Section Header ] --- */
.section-header {
  border-bottom: 1px solid #d0d0d0;
  padding: 25px 20px 20px;
  position: relative; }

.section-title {
  color: #bababa;
  font-weight: 200;
  margin: 0; }

/* --- [ Filter List ] --- */
.filter-wrap {
  position: absolute;
  right: 30px;
  top: 15px; }
  .filter-wrap:hover .filter-btn {
    background: tomato;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: tomato;
    color: white; }
  .filter-wrap:hover .filter-dropdown {
    display: block; }

.filter-btn {
  padding-right: 40px;
  position: absolute;
  right: 0;
  top: 0; }

.filter-dropdown {
  position: absolute;
  right: 0;
  top: 35px;
  width: 200px;
  z-index: 1000; }

/* --- [ Repo List ] --- */
.repo-list li {
  padding: 0; }
.repo-list a {
  -webkit-background-clip: padding-box;
  color: #4a4a4a;
  display: block;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .repo-list a:hover {
    background: #f0f0f0; }

.repo-item a:hover .list-heading {
  color: tomato; }

.repo-issue-total {
  background: tomato;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  height: 24px;
  line-height: 24px;
  margin-top: -14px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 50%;
  width: 24px; }

/*===============================
  Partials
---------------------------------*/
/*============================
  Page Header
------------------------------*/
#page-header {
  background: #eaeaea;
  border-bottom: 1px solid #d0d0d0;
  padding: 10px 30px;
  position: relative; }

#page-header-logout {
  margin-top: -20px;
  position: absolute;
  right: 30px;
  top: 50%; }

#footer {
  border-top: 1px solid #d0d0d0;
  clear: both;
  color: #cccccc;
  float: left;
  font-size: 0.7rem;
  font-weight: 200;
  margin-top: 50px;
  padding-top: 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  #footer p {
    margin: 0 0 5px; }

/*===============================
  Features
---------------------------------*/
/*============================
  Admin Bar
------------------------------*/
.admin-bar {
  background: #333333;
  height: 100%;
  left: 0;
  min-height: 530px;
  position: fixed;
  top: 0;
  width: 100px; }
  .admin-bar ul {
    margin: 0 auto;
    padding: 0;
    width: 80%; }
  .admin-bar li {
    border-top: 1px solid #404040;
    list-style: none;
    margin: 20px 0; }
    .admin-bar li:first-child {
      border-top: none; }
  .admin-bar a {
    color: #f0f0f0;
    display: block;
    font-size: 0.75rem;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .admin-bar a:hover {
      color: tomato; }

.admin-bar-icon {
  background: #6a6a6a;
  border-radius: 40px;
  display: block;
  height: 40px;
  margin: 10px auto;
  width: 40px; }

#admin-bar-logout {
  border: none;
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -40px;
  position: absolute;
  width: 80px; }

.section-tabs {
  background: #eaeaea;
  border-bottom: 1px solid #d0d0d0;
  height: 70px;
  width: 100%; }
  .section-tabs ul {
    margin: 0;
    padding: 0; }
  .section-tabs li {
    float: left;
    list-style: none;
    margin: 0;
    min-width: 200px;
    padding: 0;
    width: 25%; }

.section-tab {
  border: solid #d0d0d0;
  border-width: 0 1px 1px 0;
  color: #4a4a4a;
  display: block;
  font-size: 1.2em;
  height: 70px;
  line-height: 70px;
  padding: 0 30px 0 65px;
  position: relative;
  text-decoration: none;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .section-tab.active, .section-tab.active:hover {
    background: white;
    border-bottom-color: white;
    height: 71px; }
  .section-tab:hover {
    background: #f0f0f0; }

.section-tab-icon {
  background: #dadada;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  height: 24px;
  left: 30px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 24px; }

.activity-list p {
  margin: 0; }
.activity-list .timestamp {
  color: #b0b0b0;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 5px;
  text-transform: uppercase; }
