
#footer {
  border-top: 1px solid #d0d0d0;
  clear: both;
  color: #ccc;
  float: left;
  font-size: .7rem;
  font-weight: 200;
  margin-top: 100px;
  padding: 30px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  
  p {
    margin: 0 0 5px;
  }

  a {
    @include transition(all .3s ease);
    color: #ccc;
    text-decoration: none;
    &:hover {
      color: tomato;
    }
  }

}

.splash #footer {
  margin-top: 25px;
}