
#footer {
  border-top: 1px solid #d0d0d0;
  clear: both;
  color: #ccc;
  float: left;
  font-size: .7rem;
  font-weight: 200;
  margin-top: 50px;
  padding-top: 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  
  p {
    margin: 0 0 5px;
  }

}