

/*============================
  Page Header
------------------------------*/

#page-header {
  background: #eaeaea;
  border-bottom: 1px solid #d0d0d0;
  padding: 15px 30px;
  position: relative;
}

#page-header-logout {
  margin-top: -20px;
  position: absolute;
  right: 30px;
  top: 50%;
}
