
/*============================
  Page Header
------------------------------*/

#page-header {
  background: #eaeaea;
  border-bottom: 1px solid #d0d0d0;
  padding: 10px 30px;
  position: relative;
}

#page-header-utilities {
  position: absolute;
  right: 30px;
  top: 0;
}

#notifications-wrap {
  float: left;
}

#user-info {
  position: absolute;
  right: 30px;
  top: 25px;
}

.user-avatar {
  @include border-radius(4px);
  background: {
    repeat: no-repeat;
    size: 50px;
  }
  display: block;
  float: left;
  height: 50px;
  margin-right: 15px;
  width: 50px;
}

.user-name {
  color: #8a8a8a;
  float: left;
  line-height: 50px;
  padding-right: 20px;
  position: relative;
  text-decoration: none;
  &:hover {
    .icon-arrow-down {
      background-position: -175px -25px;
    }
  }
  
  .icon-arrow-down {
    margin-top: -3px;
    position: absolute;
    right: 0;
    top: 50%;
  }
}

.user-logout {
  float: left;
  border-left: 1px solid #d0d0d0;
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  padding-left: 25px;
}

.icon-arrow-down {
  background: $sprite -175px 0;
  display: block;
  height: 6px;
  width: 10px;
}

