
/*============================
  Admin Bar
------------------------------*/

.admin-bar {
  background: #333;
  height: 100%;
  left: 0;
  min-height: 530px;
  position: fixed;
  top: 0;
  width: 210px;
  
  ul {
    border-top: 1px solid #3a3a3a;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid #3a3a3a;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #f0f0f0;
    display: block;
    font-size: .9rem;
    padding: 14px 20px 13px 45px;
    position: relative;
    text-decoration: none;
    @include transition(background .3s ease);
    &:hover {
      background: #2a2a2a;
      .icon-dashboard {
        background-position: -100px -25px;
      }

      .icon-repos {
        background-position: -125px -25px;
      }

      .icon-logout {
        background-position: -150px -25px;
      }
    }
    &.active {
      border-right: 5px solid tomato;
      .icon-dashboard {
        background-position: -100px -25px;
      }

      .icon-repos {
        background-position: -125px -25px;
      }

      .icon-logout {
        background-position: -150px -25px;
      }
    }
  }
}

#admin-bar-logo {
  background: $sprite 0 0;
  display: block;
  height: 39px;
  margin: 30px auto;
  position: relative;
  text-indent: -9999px;
  width: 84px;
}

.admin-bar-icon {
  background: $sprite;
  border-radius: 4px;
  display: block;
  height: 20px;
  margin: 10px auto;
  width: 20px;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -10px;
  
  &.icon-dashboard {
    background-position: -100px 0;
  }

  &.icon-repos {
    background-position: -125px 0;
  }

  &.icon-logout {
    background-position: -150px 0;
  }
}

#admin-bar-profile {
  .admin-bar-icon {
    display: block;
    height: 80px;
    width: 80px;
  }
}
